<header class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>SIPERAN</h1>
        <p>
          Welcome to your dashboard,
          <strong><%= session[:user_data]['username'] %></strong>!
        </p>
        <div class="hr"></div>
      </div>
      <div class="col-sm-6 menu">
        <a href="/staff/dashboard/">Dashboard</a>
        <a href="/staff/dashboard/change_password">Change Password</a>
        <a href="/staff/logout/">Logout</a>
        <br>
        <a href="/staff/dashboard/visitor/">Manage Visitor</a>
        <a href="/staff/dashboard/book/">Manage Book</a>
        <a href="/staff/dashboard/transaction/">Manage Transaction</a>
      </div>
    </div>
  </div>
</header>

