<div class="container">
  <div class="row copyright">
    <div class="col-md-4">
      Copyright &copy; 2018,
      <a href="/developer/">SIPERAN Developer</a>.<br>
      Licensed under
      <a href="/license/">The MIT License</a>.
    </div>
    <div class="col-md-8">
      <div class="navigation">
        <a href="/guide/" target="_blank" rel="noopener noreferrer">
          User Guide
        </a>
        <a href="https://github.com/wisn/siperan/issues/" target="_blank" rel="noopener noreferrer">
          Report an Issue
        </a>
        <a href="https://github.com/wisn/siperan/" target="_blank" rel="noopener noreferrer">
          View Source Code
        </a>
      </div>
    </div>
  </div>
</div>

